.category-list-container {
  .category-list-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 40px;
  }

  .category-title {
    text-transform: uppercase;
  }
}
